menu "Network configuration"

    config WiFi_SSID
        string "WiFi SSID"
        default "ESP"

        help 
            WiFi network name
    
    config WiFi_Password
        string "WiFi Password"
        default "Password"
        
        help 
            WiFi network password
endmenu

menu "MQTT"

    config MQTT_URI
        string "MQTT Broker URI"
        default "192.168.0.105"

        help 
            MQTT Broker URI
    
    config MQTT_Port
        string "MQTT Broker Port"
        default "1883"
        
        help 
            MQTT Broker URI
    
    config MQTT_Client_name
        string "MQTT Client name"
        default "ESP_Client"
        
        help 
            MQTT Client name
endmenu
