Server/build/esp-idf/main/CMakeFiles/__idf_main.dir/Bluetooth/ServerBluetoothHandler.cpp.obj
Client/build/.cmake/api/v1/reply/cache-v2-998003dd98203da94b86.json
Client/build/.cmake/api/v1/reply/cmakeFiles-v1-836a20b207d6e6521ed4.json
Client/build/.cmake/api/v1/reply/codemodel-v2-3d2f8566c0cf0974e3b6.json
Client/build/.cmake/api/v1/reply/directory-esp-idf.Bluetooth-f956d6e8929032f7e88c.json
Client/build/.cmake/api/v1/reply/directory-esp-idf.Common_components-98d35db6b8474aeba858.json
Client/build/.cmake/api/v1/reply/directory-esp-idf.mbedtls.mbedtls.library-1d9080b39a9c761d296a.json
Client/build/.cmake/api/v1/reply/index-2022-10-27T07-54-18-0135.json
Client/build/.cmake/api/v1/reply/target-__idf_app_trace-fd2bd5602f7549bb67b6.json
Client/build/.cmake/api/v1/reply/target-__idf_app_update-80210b6c64deaee4d45b.json
Client/build/.cmake/api/v1/reply/target-__idf_asio-c7702687b0ddf8af7483.json
Client/build/.cmake/api/v1/reply/target-__idf_Bluetooth-1de100075f5bc594add5.json
Client/build/.cmake/api/v1/reply/target-__idf_bootloader_support-f282a08b2bc478318187.json
Client/build/.cmake/api/v1/reply/target-__idf_bt-204231d3549f02e845af.json
Client/build/.cmake/api/v1/reply/target-__idf_cbor-20ae06a85f4ef50414c4.json
Client/build/.cmake/api/v1/reply/target-__idf_cmock-9bd8ce17d2747c0e382e.json
Client/build/.cmake/api/v1/reply/target-__idf_coap-800f7ea171002596bf57.json
Client/build/.cmake/api/v1/reply/target-__idf_Common_components-fdc0b5dcdc3061fb95ed.json
Client/build/.cmake/api/v1/reply/target-__idf_console-ebd68cb83318496519d8.json
Client/build/.cmake/api/v1/reply/target-__idf_cxx-56742d2c77a811703d38.json
Client/build/.cmake/api/v1/reply/target-__idf_driver-51a8a99871cf2385f8ed.json
Client/build/.cmake/api/v1/reply/target-__idf_efuse-7f7002e0a2d18f14fd60.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_adc_cal-81e3698afe1a565d610f.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_common-0742bfe4785166b24c2f.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_eth-b738b8d8a3b30eb95719.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_event-1dfbf359df9a68698f22.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_gdbstub-3c41424f00f4935018b2.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_hid-2093e31b04bd0f2db64d.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_http_client-22b5a30bae70499b3dd7.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_http_server-e96ef0e980f0e711927d.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_https_ota-382481e8b8a98f61b173.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_hw_support-b329a8fb9d60f5d90079.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_ipc-4cfdabd50cedf5c12ba1.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_lcd-29a27648505482e7a4d5.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_local_ctrl-356a0aa74d0819e3131a.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_netif-d602a96070b9e3f1fad2.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_phy-c342e33b8a3e04628380.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_pm-ddfcf1168b3b57592ab9.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_ringbuf-4bbb13ca7dabb63a1b9f.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_rom-e0f7a156534c431ccabc.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_serial_slave_link-10b2317e9440098456bc.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_system-2b5b1ffcdddec5e01636.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_timer-484b19c5b54a256754db.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_websocket_client-3be11737a17884cf1845.json
Client/build/.cmake/api/v1/reply/target-__idf_esp_wifi-117567e6fb0f457c8e52.json
Client/build/.cmake/api/v1/reply/target-__idf_esp-tls-ce38b7e758504d21b82b.json
Client/build/.cmake/api/v1/reply/target-__idf_espcoredump-969a6d25ee366a284002.json
Client/build/.cmake/api/v1/reply/target-__idf_expat-f349d5231d56995c015a.json
Client/build/.cmake/api/v1/reply/target-__idf_fatfs-f69ed231e625834823a7.json
Client/build/.cmake/api/v1/reply/target-__idf_freemodbus-c1bc5cef6e13b443dad0.json
Client/build/.cmake/api/v1/reply/target-__idf_freertos-8ba4aef14eca118336f0.json
Client/build/.cmake/api/v1/reply/target-__idf_hal-bb9ff977115917b88be2.json
Client/build/.cmake/api/v1/reply/target-__idf_heap-df82b15ad3f1b74c92cc.json
Client/build/.cmake/api/v1/reply/target-__idf_jsmn-055e85321c9231a42d53.json
Client/build/.cmake/api/v1/reply/target-__idf_json-000062292d6acbb0d5ce.json
Client/build/.cmake/api/v1/reply/target-__idf_libsodium-68bc77e090039f2fdf9a.json
Client/build/.cmake/api/v1/reply/target-__idf_log-9c114532351aaa661ec2.json
Client/build/.cmake/api/v1/reply/target-__idf_lwip-8deaca0c4cdcfff627ce.json
Client/build/.cmake/api/v1/reply/target-__idf_main-5d54b386de1d4f031551.json
Client/build/.cmake/api/v1/reply/target-__idf_mbedtls-1ebdadf84590898a1438.json
Client/build/.cmake/api/v1/reply/target-__idf_mdns-b14aa9d036040e041ccb.json
Client/build/.cmake/api/v1/reply/target-__idf_mqtt-1898273c5d777b4cb514.json
Client/build/.cmake/api/v1/reply/target-__idf_newlib-a619afa7d23b5a47be95.json
Client/build/.cmake/api/v1/reply/target-__idf_nghttp-78c6c7099209c4fa2fd7.json
Client/build/.cmake/api/v1/reply/target-__idf_nvs_flash-616851542a2ba78e624b.json
Client/build/.cmake/api/v1/reply/target-__idf_openssl-d2197ca15416adfa55f8.json
Client/build/.cmake/api/v1/reply/target-__idf_perfmon-90d1269a6575e7a3ea75.json
Client/build/.cmake/api/v1/reply/target-__idf_protobuf-c-7cf54f7d6b9a14d2d299.json
Client/build/.cmake/api/v1/reply/target-__idf_protocomm-4f089c464b71a34e9a14.json
Client/build/.cmake/api/v1/reply/target-__idf_pthread-c78d59a1c605194b13c1.json
Client/build/.cmake/api/v1/reply/target-__idf_sdmmc-0db4f684f5aa03bb0322.json
Client/build/.cmake/api/v1/reply/target-__idf_soc-27542b54933e9a024528.json
Client/build/.cmake/api/v1/reply/target-__idf_spi_flash-967bd0d561a4dbff4acc.json
Client/build/.cmake/api/v1/reply/target-__idf_spiffs-56ad77f8468545d1ba08.json
Client/build/.cmake/api/v1/reply/target-__idf_tcp_transport-6a2f154733df1636ecd3.json
Client/build/.cmake/api/v1/reply/target-__idf_tcpip_adapter-f1eb806f0e1841accd88.json
Client/build/.cmake/api/v1/reply/target-__idf_ulp-97b2d78642e5e6835208.json
Client/build/.cmake/api/v1/reply/target-__idf_unity-c5be4e5fd482801ae07e.json
Client/build/.cmake/api/v1/reply/target-__idf_vfs-7284170507a5bb3714c7.json
Client/build/.cmake/api/v1/reply/target-__idf_wear_levelling-b24810a9d383ba589d07.json
Client/build/.cmake/api/v1/reply/target-__idf_wifi_provisioning-64ae34019e2d1409a7c5.json
Client/build/.cmake/api/v1/reply/target-__idf_wpa_supplicant-c30457960be9442e98e7.json
Client/build/.cmake/api/v1/reply/target-__idf_xtensa-345225972313744461b8.json
Client/build/.cmake/api/v1/reply/target-__ldgen_output_sections.ld-36fe62e839b382790554.json
Client/build/.cmake/api/v1/reply/target-_project_elf_src-7ae9fe33b292269b2cec.json
Client/build/.cmake/api/v1/reply/target-app-f25f4f34c57d3c785ab9.json
Client/build/.cmake/api/v1/reply/target-bootloader-6868112a5f988dd37162.json
Client/build/.cmake/api/v1/reply/target-confserver-865ce6b9dbe2d4371404.json
Client/build/.cmake/api/v1/reply/target-encrypted-flash-f86a65318eff05a56897.json
Client/build/.cmake/api/v1/reply/target-erase_flash-f21150223e94a3258c79.json
Client/build/.cmake/api/v1/reply/target-flash-c4b007f53f355205a044.json
Client/build/.cmake/api/v1/reply/target-gen_project_binary-f8099cbbfa612fce591a.json
Client/build/.cmake/api/v1/reply/target-mbedcrypto-a40575140fc2aee71b9b.json
Client/build/.cmake/api/v1/reply/target-mbedtls-bab23b187725376f0546.json
Client/build/.cmake/api/v1/reply/target-mbedx509-d28b1218ff81c54f9483.json
Client/build/.cmake/api/v1/reply/target-menuconfig-c871435308cdbdfaddd0.json
Client/build/.cmake/api/v1/reply/target-monitor-6a742b785003331b9e0e.json
Client/build/.cmake/api/v1/reply/target-size-components-597917f6af5abbd1200c.json
Client/build/.cmake/api/v1/reply/target-size-e7820ef2d51682bbaae8.json
Client/build/.cmake/api/v1/reply/target-size-files-e4bea42e1a088c8d156b.json
Client/build/.cmake/api/v1/reply/target-SmartGreenhouse.elf-59c1083b968812b3e974.json
Client/build/.cmake/api/v1/reply/target-uf2-app-e654b81a490126f0717b.json
Client/build/.cmake/api/v1/reply/target-uf2-d6e14a7aabf408042041.json
Client/build/esp-idf/Bluetooth/cmake_install.cmake
Client/build/esp-idf/Bluetooth/libBluetooth.a
Client/build/esp-idf/Bluetooth/CMakeFiles/__idf_Bluetooth.dir/ClientBluetoothController.cpp.obj
Client/build/esp-idf/Common_components/cmake_install.cmake
Client/build/esp-idf/Common_components/libCommon_components.a
Client/build/esp-idf/Common_components/CMakeFiles/__idf_Common_components.dir/Bluetooth/BaseBluetoothController.cpp.obj
Client/build/esp-idf/components/cmake_install.cmake
Client/build/esp-idf/main/CMakeFiles/__idf_main.dir/Bluetooth/ClientBluetoothController.cpp.obj
Client/build/esp-idf/Bluetooth/CMakeFiles/__idf_Bluetooth.dir/ClientBluetoothHandler.cpp.obj
Server/build/esp-idf/Bluetooth/cmake_install.cmake
Server/build/esp-idf/Bluetooth/libBluetooth.a
Server/build/esp-idf/Bluetooth/CMakeFiles/__idf_Bluetooth.dir/ServerBluetoothController.cpp.obj
Server/build/esp-idf/Bluetooth/CMakeFiles/__idf_Bluetooth.dir/ServerBluetoothHandler.cpp.obj
Server/build/esp-idf/Common_components/cmake_install.cmake
Server/build/esp-idf/Common_components/libCommon_components.a
Server/build/esp-idf/Common_components/CMakeFiles/__idf_Common_components.dir/Bluetooth/BaseBluetoothController.cpp.obj
Server/build/esp-idf/GreenhousePublishers/cmake_install.cmake
Server/build/esp-idf/GreenhousePublishers/libGreenhousePublishers.a
Server/build/esp-idf/GreenhousePublishers/CMakeFiles/__idf_GreenhousePublishers.dir/Test.cpp.obj
Server/build/esp-idf/Observers/cmake_install.cmake
Server/build/esp-idf/Observers/libObservers.a
Server/build/esp-idf/Observers/CMakeFiles/__idf_Observers.dir/BluetoothDataObserver.cpp.obj
Server/build/esp-idf/Publishers/cmake_install.cmake
Server/build/esp-idf/Publishers/libPublishers.a
Server/build/esp-idf/Publishers/CMakeFiles/__idf_Publishers.dir/BluetoothDataPublisher.cpp.obj
