menu "General"
    config Greenhouse_ID
        int "Greenhouse ID"
        default 0

        help 
            Set ID of greenhouse

    config ESP_Board
        string "ESP Board type"
        default "esp-wroom-32"

        help 
            Type of main ESP Board

    menu "Motor"
        config COIL_A
            int "COIL A"
            default -1
    
            help 
                Pin number to coil A
                
        config COIL_B
            int "COIL B"
            default -1
            
            help 
                Pin number to coil B

        config COIL_C
            int "COIL C"
            default -1
    
            help 
                Pin number to coil C
        config COIL_D
            int "COIL D"
            default -1
            
            help 
                Pin number to coil D
    endmenu
    menu "Water pump"
        config WATER_PUMP
            int "Water pump"
            default -1
            
            help 
                Pin number to water pump   
    endmenu
endmenu